@import "../Styles/Placeholder";
@import '../Styles/Mixin';
.bg-footer {
  background-color: #000000;
  height: 50vh;
  @extend %alignCenter;

  figure {
    text-align: center;
  }

  img {
    width: 130px;
  }
  h6,
  p {
    color: #ffffff;
  }
  h6 {
    text-transform: capitalize;
    @include font(1.125rem,400,Roboto)
  }
  p {
    @include font(0.875rem,400,OpenSans)
  }
}
