@import "../Styles/Placeholder";
@import '../Styles/Mixin';
nav {
  @extend %position;

  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  ul {
    display: flex;

    a {
      margin-right: 1.25rem;
      text-transform: capitalize;
      color: white;
      transition: all 0.5s;
      @include font(1.125rem, 500, OpenSans);
    }
    a:hover {
      color: #91704f;
    }
  }

  .icon {
    color: #a79f94;
    font-size: 2.0625rem;
  }
  .icon:hover {
    color: #91704f;
  }

  .activeScroll {
    background-color: #91704f;
    color: #ffffff;
  }
}

.menu {
  max-height: 0;
  background-color: #f1f3f8;
  overflow: hidden;
  transition: 0.5s;
  &.active {
    max-height: 50vh;
  }
}
